{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": "airbnb",
  "rules": {
    "linebreak-style":0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "ts", "tsx"] }],
    "import/no-unresolved": "off",
    "import/extensions": "off"
  }
}