header {
  color: whitesmoke;
  font-weight: 700;
}

.selected {
  color: green;
}

.header {
  align-items: center;
  background-color: var(--darkGray);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100vw;
}

.css-1u2w381-MuiModal-root-MuiDrawer-root {
  margin-top: 60px;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  margin-top: 60px;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  margin-top: 60px;
}